*{ 
    padding: 0px;
    margin: 0px;
}
.circle-img img { 
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    max-width: 100%;
}
.student-info { 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 100%;
}
.student-info h2 { 
    padding-top: 20px;
    text-transform: uppercase;
}

.btncontrol { 
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}
.btncontrol button {  
    width: 80px;
    height: 30px;
    box-shadow: 0 3px 15px #333;
}
button:hover { 
    background-color: #000;
    color: #fff;
    border: 2px solid red;
    border-radius: 5px ;
    font-weight: bold;
    transition: 0.35s all;
    
}
header { 
    font-size: 1rem;
    text-align: center;
    margin-top: 30px;
    max-width: 100%;
}
button { 
    max-width: 100%;
}
img { 
    max-width: 100%;
}